<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('./_components/meta.ejs') %>
</head>
<body>
    <%- include('./_components/header.ejs') %>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    <div>
        <input type="hidden" class="val_1N" name="" value="<%=station_1_name  %>">
        <input type="hidden" class="val_1NM" name="" value="<%=station_1_number  %>">
        <input type="hidden" class="val_2N" name="" value="<%=station_2_name  %>">
        <input type="hidden" class="val_2NM" name="" value="<%=station_2_number  %>">
    </div>
    <div>
      <a href="/">比較し直す</a>
    </div>
    <%- include('./_components/footer.ejs') %>
</body>
  <%- include('./_components/script.ejs') %>
</html>